body {
  font-family: arial, sans-serif;
}

h1 {
  color: rgb(32, 33, 36);
  display: inline-block;
  height: 66px;
  vertical-align: top;
  width: 326px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(112, 117, 122);
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  height: 48px;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(32, 33, 36);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  top: -32px;
}
